streamlit
docling
torch
torchvision
easyocr
opencv-python-headless
beautifulsoup4
certifi
deepsearch-glm
filetype
huggingface_hub
lxml
marko
openpyxl
pandas
pydantic
pydantic-settings
pypdfium2
python-docx
python-pptx
requests
rtree
scipy
typer
watchdog
python-magic
chardet
humanize